<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
    <thead>
        <tr>
            <th> Title </th>
            <th> Manufacturer </th>
            <th> Price </th>
            <th> Description </th>
            <th> Id </th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${books.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="book : ${books}">
            <td><span th:text="${book.title}"> Title </span></td>
            <td><span th:text="${book.manufacturer}"> Manufacturer </span></td>
             <td><span th:text="${book.price}"> Price </span></td>
               <td><span th:text="${book.description}"> Description </span></td>
               <td><span th:text="${book.id}"> Id </span></td>  
        </tr>
    </tbody>
</table>
</body>
</html>